[submodule "src/aarapsi_robot_pack"]
	path = src/aarapsi_robot_pack
	url = https://github.com/QVPR/aarapsi_robot_pack
[submodule "src/hdl_graph_slam"]
	path = src/hdl_graph_slam
	url = https://github.com/koide3/hdl_graph_slam
[submodule "src/ndt_omp"]
	path = src/ndt_omp
	url = https://github.com/koide3/ndt_omp
[submodule "src/fast_gicp"]
	path = src/fast_gicp
	url = https://github.com/SMRT-AIST/fast_gicp
[submodule "src/hdl_localization"]
	path = src/hdl_localization
	url = https://github.com/koide3/hdl_localization
[submodule "src/hdl_global_localization"]
	path = src/hdl_global_localization
	url = https://github.com/koide3/hdl_global_localization
