[submodule "src/hdl_graph_slam"]
	path = src/hdl_graph_slam
	url = https://github.com/koide3/hdl_graph_slam
[submodule "src/ndt_omp"]
	path = src/ndt_omp
	url = https://github.com/koide3/ndt_omp
[submodule "src/fast_gicp"]
	path = src/fast_gicp
	url = https://github.com/SMRT-AIST/fast_gicp
[submodule "src/hdl_localization"]
	path = src/hdl_localization
	url = https://github.com/koide3/hdl_localization
[submodule "src/hdl_global_localization"]
	path = src/hdl_global_localization
	url = https://github.com/koide3/hdl_global_localization
[submodule "src/aarapsi_robot_pack"]
	path = src/aarapsi_robot_pack
	url = https://github.com/QVPR/aarapsi_robot_pack
	branch = main
[submodule "src/cpr_office_extension_gazebo"]
	path = src/cpr_office_extension_gazebo
	url = git@github.com:QVPR/cpr_office_extension_gazebo.git
[submodule "src/ds4_driver"]
	path = src/ds4_driver
	url = git@github.com:naoki-mizuno/ds4_driver.git
